body {
	overflow-x: hidden;
}

.m-0 {
	margin: 0;
}

.p-l-0 {
	padding-left: 0;
}

.p-r-0 {
	padding-right: 0;
}

.bold {
	font-weight: 900;
}

.navbar-default {
	border-radius: 0;
	margin-bottom: 0px;
    background-color: #00d4c5;
    border-color: #00d4c5;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.bg-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.slide-box {
	position: relative;
}

.slide-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,.6);
}

.slide-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.slide-content h1 {
	color: #fff;
    line-height: 65px;
    font-weight: bold;
}

.main-txt {
	color: #00d4c5;
}

.second-slide {
	background-position: center 22%;
}

.slick-next {
    right: 20px;
}

.slick-prev {
    left: 20px;
    z-index: 10;
}

.slick-prev:before, .slick-next:before {
	font-family: 'Ionicons';
    font-size: 50px;
    color: #fff;
}

.slick-prev:before {
	content: "\f3d2";
}

.slick-next:before {
	content: "\f3d3";
}

.about-sec-inner {
	padding: 80px 0;
}

.about-img {
	height: 400px;
	margin: 0 auto;
}

.about-left {
	/*padding: 80px 0;*/
}

.about-txt {
	color: #474747;
    line-height: 26px;
    font-size: 15px;
}

.about-tit {
	margin: 0;
    margin-bottom: 20px;
    color: #00d4c5;
    font-size: 40px;
}

.app-demo-tit {
	color: #fff;
	margin-bottom: 10px;
}

.app-icon {
    display: inline-block;
    margin-right: 20px;
}

.city-view {
	min-height: 450px;
	position: relative;
}

.footer {
	padding: 20px 0;
}

.foot-item {
	display: inline-block;
    padding: 16px;
    color: #555;
    font-size: 14px;
    transition: all .3s ease-in;
}

.foot-item:hover,
.foot-item:focus {
	text-decoration: none;
	color: #00d4c5;
}

.foot-logo {
	font-size: 18px;
    color: #00d4c5;
    padding: 18px 0;
    display: inline-block;
}

.foot-logo:hover,
.foot-logo:focus {
	text-decoration: none;
	color: #00d4c5;
}

.about-list-left i {
	font-size: 40px;
	color: #00d4c5;
}

.about-list {
	padding: 15px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    margin-top: 30px;
}

.about-list-left {
	padding-right: 20px;
}

.about-list-tit {
	margin-top: 0;
	color: #444;
}

.copy-txt {
	padding-top: 20px;
	margin-bottom: 0;
    border-top: 1px solid #f1f1f1;
    font-size: 13px;
    color: #888;
}

.p-0 {
	padding: 0;
}

.drive {
	background: #fff;
    color: #444;
    padding: 10px 20px;
    font-weight: 700;
}

.logo-st {
	background-color: #000;
    padding: 10px;
    border-radius: 30px;
}

.logo-st:hover,
.logo-st:focus {
	color: #fff;
}

